.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }

 body
  {
    font-family: 'Sedan', cursive;
    background-color: aliceblue;
  }
  
  .header_div
   {
   background-color: white;
   color: blue;
   }
  
   .header_div p
     {
       font-family: 'Sedan', sans-serif;
       color: grey;
       letter-spacing: 2px;
       font-size: 12px;
       font-weight: bold;
     }
  
    #start
     {
       font-family: 'Sedan',sans-serif;
       margin-top: 30px;
       width: 130px;
       font-weight: bolder;
       letter-spacing: 3px;
     }
  
     .copy_right_footer
     {
       position: fixed;
       color: blue;
       bottom: 0;
       width: 100%;
       font-size: 18px;
       background-color: whitesmoke;
       line-height: 3;
       text-align: center;
       text-shadow: 5px 5px 5px rgb(151, 149, 149);
     } 